@font-face{
    font-family: 'raleway';
    src: url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
}
@font-face{
    font-family: 'work-sans';
    src: url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100&display=swap');
}
@font-face{
    font-family: 'open-sans';
    src: url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
}