<%- include('./partials/header') %>

<% let id = item-1 %>

    <h1> detalle apmpliado </h1>

    <p>Seleccioná tu heroe y te cuento que hace:</p>
    <h3><a href="/heroes/detalle">Volver al listado</a></h3>

    <p>Hola, mi nombre es <%= jasonParse[id].nombre %></p>
    <p>y soy <%= jasonParse[id].profesion %></p>

  </body>
</html>
