<%- include('./partials/header') %>

    <h1>Bienvenido al sitio Heroes</h1>
    <p>Ni Superman, Iron Man o La Mujer Maravilla son tan importantes cómo las y los Heroes de carne y hueso que encontrarás en este sitio. Esperamos que ellas y ellos te sirvan como inspiración para poder cumplir tus objetivos. Recuerda: ¡nunca pares de creer en ti!.</p>
    <p>Puedes recorrer los elementos de este sitio en las siguientes rutas</p>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/heroes">Heroes</a></li>
      <li><a href="/heroes/detalle">Detalle</a></li>
      <li><a href="/heroes/bio">Biografía</a></li>
      <li><a href="/heroes/creditos">Créditos</a></li>
    </ul>
  </body>
</html>
